// Place all the styles related to the Classmate/AddressBook controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Sass使用指南: http://www.w3cplus.com/sassguide/

//变量定义
$font-family: Helvetica, sans-serif;
$font_color: '#333';

body{
  font-family: $font-family;
  color: $font_color;
}

